.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.zinvisible {
  z-index: -10;
}

.zvisible {
  z-index: 10;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.bigtext {  font-size: x-large;
  font-weight: 500;
}

.round {
  margin: 15px;
  font-size: x-large;
  border-radius: 80px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  }

  .roundtiny {
    margin: 3px;
    
    border-radius: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 20px;
    }

.roundsmall {
	margin: 3px;
padding: 0.9%;



  border-radius: 120px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.orangebutton{border-color: #e79e30;}

#slicearray {
  overflow: scroll;
  position: relative;
  scrollbar-base-color: #00b1f0 ;

}

.topmargin20 {
  margin-top: 30px;
}
.roundbutton1 {
	margin: 5px;




  border-radius: 80px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.roundbutton {
	margin: 12px;




  border-radius: 80px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
::-webkit-scrollbar { width: 10px;}


::-webkit-scrollbar-thumb {
background-color:#e79e30;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
