.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#lineupbox{
  left: 10cm;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.zinvisible {
  z-index: -10;
}

.zvisible {
  z-index: 10;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.flex-container1 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.superlargetext1 {
font-size: 135%;
font-weight: 550;
left: 1cm;}

.slicedarray {
  position: relative;
  top: 50px;
}

#logo {
  position: relative;
  top: 1cm;
  left: 1cm;
}

.scaledbasketball {
width: 25px;
height: 25px;
margin: 0 10px 0 0;
}


.rightdiv {
  position: relative;
  top: 4.7cm;
}

.playerbox {
  display: flex;
  justify-content: center;
  margin: 0 10px 0 0;

}

.rightbutton {
  float: right;
}

.rightmenu {
  
  position: absolute;
  top: 0%;
  right: 0%;
  width: 75%;
  height: 60px;
}

.quadrantpicker {
justify-items: left;}

.floatleft {
  text-align: left;
}

.logincredentials 
{
position: absolute;
left: 45%;
top: 30%;
}

.logintitle {
   position:absolute;
  top: 120px;
  left: 25%;
  font-size: 300%;}


.scaledbasketball4 {
  background-color: #e6e6e6;
  position:absolute;
  left: 70px;
  width: 425px;
  height: 425px;
  }

.scaledbasketball1 {
  position:absolute;
  left: 70px;
  width: 125px;
  height: 125px;
  }

  .superlargetext0 { 
    position: absolute;
    font-size: 180%;
   font-weight: 550;
   padding-top: 1cm;
   padding-left: 6cm;
 }

.superlargetext { 
   font-size: 250%;
  font-weight: 550;
  padding-top: 1cm;
  padding-bottom: 1cm;
  padding-left: 1cm;
}

.greybox {
  border-style: solid;
  border-color: lightgray;
}

.greyboxpadding {
  padding-top: 0.5cm;
}

.bigtext {  font-size: x-large;
  font-weight: 500;
}

#ball {
  position: absolute;
  top: 1cm;
  left: 15cm;
  width: 75px;
}



.round {
  margin: 15px;
  font-size: x-large;
  border-radius: 80px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  }

  .roundtiny {
    margin: 3px;
    
    border-radius: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 20px;
    }

.roundsmall {
	margin: 3px;
padding: 0.9%;



  border-radius: 120px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.orangebutton{


border-color: #e79e30;
}

#slicearray {
  overflow: scroll;
  position: relative;
  border-color: lightgray;
}

.topmargin20 {
  margin-top: 30px;
}
.roundbutton1 {
	margin: 5px;




  border-radius: 80px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.roundbutton {
	margin: 12px;




  border-radius: 80px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
::-webkit-scrollbar { width: 10px;}


::-webkit-scrollbar-thumb {
background-color:#e79e30;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
